/* Css Aplication ConTea */


/*
##### INDEX #####
0. GLOBALS
    0.1 Colors
    0.2 Buttons bottom navegation

1. HOME
2. MENU LISEN

 */

/* 0. GLOBALS */
/* 0.1 Colors*/
:root {
    --main-color-pink: #FF637D;
    --main-color-beige: #F4F1BB;
    --main-color-blue: #66d7d1;
    --main-color-white: #EAF2E3;
    --main-color-yellow: #FFF87F;
    --main-color-black: #000000;
}
 
/* 0.2 Buttons bottom navegation */
.menu-bottom {
    position:fixed;
    bottom: 0;
    width: 100%;
    margin-bottom: 0.5rem;
}
.btn-menu-bottom {
    background-color: #66d7d150;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    width: 100%;
}
.img-menu-bottom {
    width: 2.7rem;
}

@media (min-width: 576px) {}
@media (min-width: 768px) {
    .btn-menu-bottom {
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
    }
}
@media (min-width: 992px) {}
@media (min-width: 1200px) {  }
@media (min-width: 1400px) {  }


/* 1. HOME */
div.container-btn-home {
    background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100vh;
}
a.btn-home {
    background-color: coral;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45%;
    width: 100%;
}

@media (min-width: 576px) {}
@media (min-width: 768px) {}
@media (min-width: 992px) {
    a.btn-home {
        height: 75%;
        width: 45%;
    }
}
@media (min-width: 1200px) {  }
@media (min-width: 1400px) {  }


/* 2. MENU LISEN */
.btn-lisen {
    /*height: 12rem;*/
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.25rem solid #ffffff;
    background-color: var(--main-color-blue);
}

@media (min-width: 576px) {}
@media (min-width: 768px) {}
@media (min-width: 992px) {}
@media (min-width: 1200px) {}
@media (min-width: 1400px) {}


/* 2. LISEN VOWEL */
.container-btn-lisen {
    height: 86.5vh;
}
.img-lisen {
    width: 22vw;
}

@media (min-width: 576px) {}
@media (min-width: 768px) {   }
@media (min-width: 992px) {}
@media (min-width: 1200px) {
    .container-btn-lisen {
        height: 83vh;
    }
    .img-lisen {
        width: 16vw;
    }
}
@media (min-width: 1400px) {}
