/* Css Aplication ConTea */


/*
##### INDEX #####
0. GLOBALS
    0.1 Colors

1. HOME
2. LISEN

 */

/* 0. GLOBALS */
/* 0.1 Colors*/
:root {
    --main-color-pink: #FF637D;
    --main-color-beige: #F4F1BB;
    --main-color-blue: #66d7d1;
    --main-color-white: #EAF2E3;
    --main-color-yellow: #FFF87F;
  }


/* 1. HOME */
div.container-btn-home {
    background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100vh;
}
a.btn-home {
    background-color: coral;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45%;
    width: 100%;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    a.btn-home {
        height: 75%;
        width: 45%;
    }
}


/* 2. LISEN */
.btn-lisen {
    height: 10.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.25rem solid #ffffff;
    background-color: var(--main-color-blue);
}
.img-lisen {
    width: 22vw;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .btn-lisen {
        height: 21rem;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}
